
/* estilos para el html y body en general , se define principalmente la fuente para el texto,
el margen y padding de 0 , con la totalidad de uso de pantalla, tanto alto como ancho*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
/* referencia para el estilo de la barra de navegacion, se desea un color de fondo negro , y alineado a la izquierda
seaparacion de 15 pixeles para que el texto no quede tan pegado */
.navigation-bar {
  background-color: black;

  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* referencia a los botones de la barra de navegacion, texo blanco, y seperacion entre texto derecha y izquierda de 15 px */
.navigation-bar .link {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}
/* referencia para  */
.container {
  width: 100%;
  text-align: center;
}
.banner {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.banner #heading {
  display: inline-block;
  top: 8px;
  left: 40%;
  right: 40%;
  position: absolute;
  font-size: 60px;
}
.banner img {
  width: 100%;
}
.container .definition {
  background-color: #f8f8f8;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  font-size: 20px;
}
.container #header {
  text-align: center;
}
/* .container .videos {
  text-align: center;
  background-color: #f8f8f8;
  

} */
