html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
.navigation-bar {
  background-color: black;

  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-bar .link {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}
.container {
  width: 100%;
  text-align: center;
}
.banner {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.banner #heading {
  display: inline-block;
  top: 8px;
  left: 40%;
  right: 40%;
  position: absolute;
  font-size: 60px;
}
.banner img {
  width: 100%;
}
.container .introduction {
  background-color: #f8f8f8;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  font-size: 20px;
}
.container #header {
  text-align: center;
}
/* .container .videos {
  text-align: center;
  background-color: #f8f8f8;
  

} */
